@model Tienda_Musica.Models.Musician
@{
       ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form asp-action="Create">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label asp-for="Name">Name</label>
            <input type="text" class="form-control" asp-for="Name">
          </div>
          <div class="form-group col-md-6">
            <label asp-for="Genre">Genre</label>
            <input type="text" class="form-control" asp-for="Genre">
          </div>
        </div>
        <div class="form-group">
          <label asp-for="Image">Image Link</label>
          <input type="text" class="form-control" asp-for="Image" placeholder="">
        </div>
        <div class="form-group">
          <label asp-for="ReleaseDate">Band creation date</label>
          <input type="date" class="form-control" asp-for="ReleaseDate" placeholder="">
        </div>
    </div>
        <button type="submit" class="btn btn-primary" >Sign in</button>
      </form>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}